version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:5000"
    volumes:
      - ./instance:/app/instance
    env_file:
      - .env
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development